html,
body {
    width: 100%;
    height: 100%;
    background-image: url('/img/bg_chiheisen_green.jpg');
}

#wrapper {
    width: 100%;
    height: 100%;
}

.container {
    width: 50%;
    height: 100%;
}

#player {
    float: left;
}

#computer {
    float: right;
}

.score {
    height: 180px;
    width: 180px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.score img {
    height: 100%;
    width: 100%;
}

.playfield {
    height: 100px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 160px;
}

.choice {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #faf4ca;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.choice img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    top: 15%;
    left: 15%;
}

.button-container {
    width: 33%;
    height: 100%;
    position: relative;
    float: left;
    font-size: 1.3em;
}

button {
    height: 90px;
    width: 90px;
    position: relative;
    left: 6px;
    top: 5px;
}

.win {
    border: 2px solid #cbed40;
    box-shadow: 0 0 2rem #cbed40;
}

.lose {
    border: 2px solid #fc4f38;
    box-shadow: 0 0 2rem #fc4f38;
}

.draw {
    border: 2px solid #f5eb5f;
    box-shadow: 0 0 2rem #f5eb5f;
}
