html,
body {
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
    height: 100%;
}

.container {
    width: 50%;
    height: 100%;
}

#player {
    float: left;
}

#computer {
    float: right;
}

.score {
    height: 180px;
    width: 180px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    top: 110px;

}

.score img {
    height: 100%;
    width: 100%;
    border: 4px solid black;

}

.playfield {
    height: 100px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    top: 170px;
}

.choice {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: chartreuse;
    margin: 0 auto;
    position: relative;
    top: 140px;
    border: 4px solid black;

}

.choice img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    position: relative;
    top: 15%;
    left: 15%;
}

.button-container {
    width: 33%;
    height: 100%;
    position: relative;
    float: left;
    font-size: 1.3em;
}

button {
    height: 90px;
    width: 90px;
    position: relative;
    left: 6px;
    top: 5px;
}

.win {  
    border: 4px solid green;
    box-shadow: 0 0 1rem green;
}

.lose {  
    border: 4px solid red;
    box-shadow: 0 0 1rem red;
}

.draw {
    border: 4px solid yellow;
    box-shadow: 0 0 1rem yellow;
}
